.about-container{
  background-color: #021327 ;
  height: 100vh;
}

.about-header{
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
}

i{
  padding-left: 10px;
}

.image-container{
  width: fit-content;
   transform: translate(54em, 23%);
  /* z-index: -1; */
}
.about-image-1{
  height: auto;
  width: 32vw;
}



.discription-container{
  /* z-index: 1; */
  transform: translate(33em, -86%);
  display: flex;
  border: 2px solid black;
  color: white;
  background-color: black;
  height: fit-content;
  /* width: max-content; */
  width: 34em;
  padding: 1rem;
}